.input {
    width: 100%;
    padding: 12.5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-size: 33px;
}


.textarea {
    resize: none;
    width: 100%;
    height: 100%;
}

.textarea::-webkit-scrollbar {
    width: 25px;
}

.textarea::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 5px;
}

.textarea::-webkit-scrollbar-thumb {
    background: rgb(174, 174, 178);
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 20px;
}